//  Header  //
header{
    .bg-body-tertiary{
        background: none !important;
    }

}
//  Header  //




// Footer //
footer{
    a{
        color: $letra-negra;
        font-weight: lighter;
        &:hover{
            color: $rosado-especifico;
        }
    }

    .lineadivisorafooter{
        height: 1px;
        background-color: $bordes;
    }

    .lineadivisorafootertop{
        margin-bottom: 80px;
    }

    .lineadivisorafooterbottom{
        margin-top: 80px;
        margin-bottom: 15px;
    }

    img{
        height: auto;
        width: 100%;
    }

    p{
        font-family: $parrafos;
        font-weight: lighter;
    }

    h5{
        font-family: $titulos;
        font-weight: bold;
    }

    h5, img{
        margin-bottom: 40px;
    }
}
// Footer//