*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.margen{
    margin: 0 auto;
    width: 80%;
}
.titulo-seccion{
    h1{
        font-family: $titulos;
        font-size:$h1;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$rosado-fondo;
        width: 100%;
        height: 100px;
        margin-bottom: 5%;
    }
}


//  Header  //
header{
    h5{
        font-family: $titulos;
        margin: 0px; 
    }
    .bg-body-tertiary{
        background: none !important;
    }
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-bottom: -1rem;
        display: none;
    }
      
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
    
    .dropdown-menu{
        padding: 0px;
        border-radius: 0px;
    }

    .containerdelnav{
        margin: 0px;
        width: 100%;
    }

    .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
    
    .dropdown-toggle::after {
        font-size: 0.8em; 
        margin-left: 0.5rem;
        line-height: 1; 
    }
  
    .navegador{
        a{
            padding: 0px;
        }
       gap: 20px;
    }

    .navegador, .search-y-otros-nav{
        margin: 0px;
        input{
            margin: 0px;
            width: 100%;
            border-radius: 0px;
            border: solid 1px $bordes;
        }
        .carrito-icono{
            height: 27px;
            width: 27px;
        }

    }

    .container-principal-header{
        padding: 0px;
    }

    .search-y-otros-nav{
        svg{
            height: 30px;
            width: 30px;
            color: $letra-negra !important;
            vertical-align: text-top;
            margin-left: 15px;
            &:hover{
                color: $iconos-home !important;
            }
        }
        button{
            position:relative;
            background: none;
            vertical-align: baseline;
            border: none;
            right: 45px;
            bottom: 4px;
            &:hover{
                background: none;
                svg{
                    color: $iconos-home;
                }
            }
            &:active{
                background: none;
            }
        }
        form{
            svg{
                height: auto;
                width: auto;
                color: $letra-negra !important;
                vertical-align: bottom;
                margin: 0px;
                &:hover{
                    color: $iconos-home;
                }
            }
        }
        
    }
    
    .dropdown-item {
        &:hover {
            background-color: $rosado-fondo; 
        }
        padding: 10px !important;
    }

    .dropdown-divider{
        margin: 0px;
    }

    .btn-outline-success{
        --bs-btn-active-bg: none;
    }
}

@media only screen and (max-width: 990px) {
    .nav-home{
        display: none;
    }
    .nav-categorias, .nav-contacto{
        margin: 0px;
    }
    .container-principal-header{
        .navbar-brand{
            margin: 0px !important;
        }
    }
    form{
        margin: 0px !important;
    }
    .navegador{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        justify-content: space-between;
    }

    .textobajobanner{
        display: none;
    }

}
//  Header  //

// Home //
    .seccionsus{
        background-color: $rosado-fondo;
        width: 100%;
    }

    .rowsus{
        height: 300px;
        .labelsus{
            padding-left: 55px;
        }
        form{
            input{
                height: 50px;
                border: solid 1px $rosado-especifico;
                width: 58%;
                
            }
            button{
                background: $rosado-especifico;
                color: $letra-blanca ;
                font-size: $letra-parrafo;
                height: 50px;
                border: none;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                width: 33.3%;
            }
        }
    }

    .categoriabaja{
        margin-top:-10%;
    }

    .container-categorias{
        img{
            height: auto;
            width: 100%;
            position: relative;
        }
        .categoria-grande{
            h4,a{
                color: $letra-blanca;
                text-decoration: none;
            }
            h2{
                font-weight: bold;
                
                color: $letra-negra !important;
                
            }
            a{
                p{
                    text-decoration: underline;
                }
               
            }
        }
        .categoria-peque{
            h4,a{
                color: $rosado-especifico;
                text-decoration: none;
            }
            h2{
                font-weight: bold;
                color: $letra-negra;
            }
        }
        .textos-categorias{
            position: relative;
            top: -170px;
            text-align: start;
            left: 20px;
        }
        .textos-categorias-peque{
            position: relative;
            top: -90px;
            text-align: start;
            left: 20px;
        }

        
    }

    .fondo-del-banner{
        background-image: url(../img/preview.webp);
        background-size: cover;
        .carousel-item{
            img{
                height: 500px;
                width: 500px;
            }
        }
        .carousel{
            margin-bottom: 75px;
        }
    }

    .textobajobanner{
        h3{
            color: $rosado-especifico;
        }
        p{
            font-weight: lighter;
        }

        margin-bottom: 75px;
    }
    
    

// Home //


//breadcrumb//
.ruta{
    display:inline-flex;
    justify-content: flex-start;
    list-style: none;
        svg{
            padding: 2px;
        }
}
//breadcrumb//


//Seccion Contactanos//

.seccion-mensaje{
    margin-top: 5%;  
}
.mensaje{
    h2{
        font-family: $titulos;
        font-size: $h2;
        text-align:center;
    }
}
.formulario-contacto{
    margin-top: 5%;
    h2{
        font-size: $h2;
        font-family: $titulos;
        color: $rosado-especifico;
    }
    .form-label{
        font-family: $titulos;
        font-size: $h4;
    }
    .form-control{
        padding: 8px;
        font-size: 22px;
        color: #000000;
        border-radius: 4px;
        border: 1px solid #949494;
        transition: border;
    }
    .form-control:focus {
        border-color:#C62F7A;
        outline: 0;
        box-shadow: 0 0 0 0.05rem #C62F7A;
    }
    textarea{
        height: 200px;
    }
    button{
        border:#C62F7A;
    }
    p{
        font-family:$parrafos;
        font-size: $letra-parrafo;
        font-weight: 200;
    }
    .col-1{
        display: flex;
        justify-content: center;
    }
}
.iconos-contacto1{
    padding: 30px;
    text-align: center;
    svg{
        width: 50px;
        height: 50px;
    }
    p{
        font-size: $letra-parrafo;
        font-family: $parrafos;
        font-weight: 300;
        padding: 10px;
    }
}

//Seccion Contactanos//
//registro//
.borde-formu{
    padding: 20px;
    border:1px solid $bordes;
}
.contraseña{
    p{
        font-family: $parrafos;
        font-size: $letra-parrafo;
        font-weight: 300;
        text-align: right;
        color:$boton;
    }
}
.linea-vertical{
    height: 800px;
    width:2px;
    background-color: #000;
}
.form-check-input {
    border: 1px solid $bordes;   
}

.form-check-input:focus {
    border-color: $boton;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(198, 47, 122, 0.25);
}
.form-check-input:checked {
    background-color: $boton;
    border-color: $boton;
}
//registro//
//Producto//
.cate-producto{
    h1{
        color: $rosado-especifico;
    }
    .contador{
        width: auto;
        height: 50px;
        padding: 10px;
        border: 1px solid $bordes;
        border-radius: 4px;
        svg{
            width: 30px;
            height: 30px;
            margin-left: 15%;
            margin-right: 15%;
        }
        span{
            font-size:18px;
            margin: 0% 3%;
        }
    }
    .boton-producto{
        margin-top: 2.5%;
        p{
            margin-top: 8%;
            text-align: center;
            font-family: $parrafos;
            color:#555555;
        }
    }

}
.form-select {
    color:$bordes;
    border-radius:4px;
    margin-bottom: 5%;
}
 
.form-select:focus {
    border-color:#C62F7A;
    outline: 0;
    box-shadow: 0 0 0 0.05rem #C62F7A;
}
  
//Producto//




// Footer //
footer{
    .footerinformacion, .footercontacto{
        a{
            color: $letra-negra;
            font-weight: lighter;
            &:hover{
                color: $iconos-home;
            }
        }
    }

    .lineadivisorafooter{
        height: 1px;
        background-color: $bordes;
    }

    .lineadivisorafootertop{
        margin-bottom: 40px;
        margin-top: 50px;
    }

    .lineadivisorafooterbottom{
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .footerbrand{
        img{
            height: auto;
            width: 100%;
        }
    }
    

    p{
        font-family: $parrafos;
        font-weight: lighter;
        font-size:$letra-parrafo;
    }

    h5{
        font-family: $titulos;
        font-weight: bold;
        font-size:$letra-parrafo;
    }

    h5, img{
        margin-bottom: 40px;
    }

    .footerform{
        form{
            height: 68px;
        }
        input{
            height: 45px; 
            width: 100%;
            border-radius: 6px;
            outline: none; 
            border: solid 1px $bordes;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-right: none;
        }

        button{
            width: 40px;
            height: 45px;
            background-color: $boton;
            border: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            &:hover{
                background-color: $iconos-home;
                &svg{
                    color: $parrafos;
                }
            }
        }
        svg{
            color: $letra-blanca;
            vertical-align: baseline;
        }


        .textobajoformfooter{
            margin-top: 45px;
            h5{
                margin-left: 0px;
                margin-bottom: 0px;
                margin-right: 0px;
            }
            a{
                margin: 0px;
            }
            svg{
                color: $letra-negra;
                &:hover{
                    color: $iconos-home;
                }
                height: 20px;
                width: 20px;
                margin-left: 15px;
                vertical-align: baseline;
            }
        }
    }
}

.copyrightfooter{
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    footer{
        .footerform{
            button{
                left: 95%;
            }
        }
        .footerinformacion, .footercontacto, .footerform{
            margin-top: 50px;
            h5{
                margin-bottom: 15px;
            }
        }
    }
}
  
// Footer//

.boton{
    padding: auto;
    padding: 16px 30px;
    background-color: $boton;
    color: $letra-blanca;
    font-family: $parrafos;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;   
}
.boton:hover{
    background-color: $iconos-home;
    color: $letra-negra;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height:550px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  color: #000000;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 80% 80%;
  background-color:rgba(222, 222, 222, 60);
  border-radius: 60%;
}
.card {
    padding: 19px 20px;
    gap: 10%;
    width: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid #e3e6e6;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #00000025;
    text-align: center;
    p{
        font-weight: 700;
        font-size:$letra-parrafo;
        font-family: $parrafos;
        
    }
    h4{
        font-size:$h4;
        font-family: $titulos;
        color: $precio-tarjetas;
        margin-bottom: 30px;
    }

}
.card:hover{
    border: 1px solid #d2cfcf;
    box-shadow: 0px 2px 25px #8b888850;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height:10px;
  padding: 0;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 0%;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000000;
  background-clip: padding-box;
  border: 0;
  border-radius: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.slider-productos{
    display:flex;
    height: auto;
    padding: 20px;
    gap:2%;
}
@media only screen and (max-width: 798px){
    .slider-productos{
        .t-3, .t-4{
            display: none;
        }
    }
    .card {
        padding: 3px 6px;
    }
    .boton{
        padding: 10px;
        font-size: 14px;
    }
}



// Carrito //

.carrito-brigido{
    img{
        width: 100%;
        height: 187px;
        object-fit: cover;
    }
}


// Carrito //