@mixin botongrande{
        width: auto;
        padding: 16px 30px;
        background-color: $boton;
        color: $letra-blanca;
        font-family: $parrafos;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 4px;
        text-decoration: none;  
        border: none; 
}
@mixin hoverboton{
    background-color: $iconos-home;
    color: $letra-negra;
    border: none;
}
@mixin tarjetas{
        padding: 19px 10px 10px;
        gap: 10%;
        width:100%;
        min-height: 470px;
        background-color: #fff;
        border: 1px solid #e3e6e6;
        border-radius: 4px;
        box-shadow: 0px 4px 4px #00000025;
        text-align: center;
        position: relative;
        p{
            a{
                text-decoration: none;  
            }
            font-weight: 700;
            font-size:$letra-parrafo;
            font-family: $parrafos;
        }
        h4{
            font-size:$h4;
            font-family: $titulos;
            color: $precio-tarjetas;
        }
        .p-anterior{
            color: $bordes;
            font-size: $letra-parrafo;
        }
}
