//Fuentes
$titulos:"Arimo", sans-serif;
$parrafos:"Nunito Sans", sans-serif;

//colores
$rosado-fondo:#FFEEFA;
$boton:#C62F7A;
$precio-tarjetas:#72394E;
$rosado-especifico:#CD0362; //precio producto, texto abajo de banner, suscribirme, ruta, titulos registro(acceder-registrarme)
$letra-negra:#000;
$letra-blanca:#fff;
$iconos-home:#E09AA1; //y hover
$bordes:#949494; //lineas footer
$seleccion:#F7E8E8; //seleccion en home y "colores"
$tamaño-parrafo:16px;
$h1:32px;
$h2:28px;
$h3:24px;
$h4:20px;
$letra-parrafo:16px;



// Tamaño de las fuentes por mientras //
body{
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
    }
    h5, p{
        font-size: 16px;
    }

}